{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/recommended",
    ],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "^16.13.1"
        }
    },
    "plugins": [
        "import",
        "react"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "prefer-const": 2,
        "indent": ["error", 4]
    }
}